*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     width: 100vw;
     height: auto;
    background-color: #fffaf8;
    overflow-x: hidden;
  }
  
  .navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffaf8;
    position: relative;
    z-index: 100;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Segoe UI', sans-serif;
    border-bottom: 2px solid #d4bba7;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    width: 80px;
    object-fit: contain;
  }
  
  
  .nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #b2a9a7;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: relative;
  }
  
  .nav-links a.active::after,
  .nav-links a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e5cab9;
    bottom: -2px;
    left: 0;
  }
  
  /* Hamburger Menu Toggle */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #d4bba7;
    transition: 0.3s ease;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  
    .nav-links {
      width: 100%;
      height: 50vh;
      flex-direction: column;
      background-color: #fffaf8;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      display: none;
      text-align: center;
      padding: 20px 0;
      overflow: hidden;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .menu-toggle.open span:nth-child(1) {
      transform: rotate(45deg) translateY(7px);
    }
  
    .menu-toggle.open span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.open span:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px);
    }

  }
  



    
.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e9dccd;
    padding-top: 8%;
    padding-bottom: 5%;
    gap: 20px;
}

.banner h1{
    font-size: 3rem;
    font-family: "Prata", serif;
    font-weight: 300;
    color: #fffaf8;
}
  .banner p{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    color: #fffaf8;
}




/* ...........pricelist................. */

.service-page-container{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    /* background-color: #767676; */
}
.tab-wrapper {
    width: 80%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 30px;
  }
  
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    font-size: 1rem;
    min-width: max-content; /* prevents squishing */
    padding-bottom: 20px;
    color: #d4bba7;
    font-family: "Prata", serif;
    /* font-family: 'Segoe UI', sans-serif; */
    border-bottom: 2px solid #e9dccd;
  }
  
  .tabs::-webkit-scrollbar {
    display: none; /* hide scrollbar in Chrome/Safari */
    scrollbar-width: 30px;
  }
  
  .tab {
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  
  .tab.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #e5cab9;
    bottom: -2px;
    left: 0;
  }
  


  .tabs::-webkit-scrollbar {
    display: none;
  }

  .tab {
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 1.2rem;
    font-family: 'Segoe UI', sans-serif;
  }

  .tab.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #e5cab9;
    bottom: 0;
    left: 0;
  }

  .service-list {
    width: 70%;
    display: none;
    flex-direction: column;
    gap: 20px;
    /* background-color: #b2a9a7; */
    margin-top: 2%;
  }

  .service-list.active {
    display: flex;
  }

  .service {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-bottom: 1px solid #e5cab9;
    background-color: #fff1e9;
    gap: 100px;
  }
  .service-info{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: antiquewhite; */
  }

  .service h3 {
    font-size: 2.8rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    color:#b2a9a7;
  }

  .price {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    color: #b2a9a7;
  }

  .book-btn {
    background-color: #d4bba7;
    color: #fffaf8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: fit-content;
    font-family: 'Segoe UI', sans-serif;
  }

  .book-btn:hover {
    background-color: #b2a9a7;
  }

  /* Medium Screens */
  @media (min-width: 600px) {
    .service {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .service-info {
      flex: 1;
    }

    .book-btn {
      font-size: 15px;
    }
  }

  /* Larger Screens */
  @media (min-width: 992px) {

    .tabs {
      font-size: 18px;
    }

    .service h3 {
      font-size: 22px;
    }

    .price {
      font-size: 18px;
    }

    .book-btn {
      font-size: 16px;
    }
  }






  
  /* ................foooter............... */



  

.footer{
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color: #e9dccd;
}
.footer-cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer img{
  width: 200px;
  border-right: 2px solid #fffaf8;
}
.footer-links{
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fffaf8;
}
.footer-links a{
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Jost", sans-serif;
  color: #b2a9a7;
}

.footer-social{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-social img{
  width: 40px;
  border: none;
}
.footer-bottom{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4bba7;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: #fffaf8;
}
